@model MeuPrev.Models.Funcionario

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Funcionario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Matricula" class="control-label"></label>
                <input asp-for="Matricula" class="form-control" />
                <span asp-validation-for="Matricula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PessoaId" class="control-label"></label>
                <input asp-for="PessoaId" class="form-control" />
                <span asp-validation-for="PessoaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SituacaoFuncional" class="control-label"></label>
                <select asp-for="SituacaoFuncional" class="form-control"></select>
                <span asp-validation-for="SituacaoFuncional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Situacao" class="control-label"></label>
                <select asp-for="Situacao" class="form-control"></select>
                <span asp-validation-for="Situacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAdmissao" class="control-label"></label>
                <input asp-for="DataAdmissao" class="form-control" />
                <span asp-validation-for="DataAdmissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataDemissao" class="control-label"></label>
                <input asp-for="DataDemissao" class="form-control" />
                <span asp-validation-for="DataDemissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAposentadoria" class="control-label"></label>
                <input asp-for="DataAposentadoria" class="form-control" />
                <span asp-validation-for="DataAposentadoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFalecimentos" class="control-label"></label>
                <input asp-for="DataFalecimentos" class="form-control" />
                <span asp-validation-for="DataFalecimentos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
